:root {
    --primary-color: #10002B;
    --secondary-color: #575656;
    --hover-color: rgba(153, 70, 221, 0.816);
    --background-color: #1A1A1A;
    --neutral-color: #FFF;
    --btn-hover-color: #D1D1D1;
    font-family: "Space Grotesk", sans-serif;;
    color: var(--neutral-color);
    font-size: 16px;
}
body {
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow-x: hidden;
    background-color: var(--primary-color);
    gap: 6rem;
}
main {
    display: flex;
    flex-direction: column;
    gap: 5rem;
}
.container {
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    max-width: 80rem;
}
.btn {
    background-color: var(--secondary-color);
    padding: .5rem 1rem;
    border-radius: .625rem;
    border: 1px solid var(--neutral-color);
    transition: color 0.3s ease-in;
    transition: background 0.3s ease-in;
    
}
.btn:hover {
    background-color: var(--btn-hover-color);
    color: var(--hover-color);
}